@import '../../styles/styles.scss';

.StoryMode{
    // background-color: greenyellow;
    // border: 1px dashed fuchsia;
    // width: 7rem;
    // height: 9rem;
    font-weight: 100;
    

    
}

.HeliModel{
    // border: 3px dashed yellowgreen;
    // background-color: lightblue;
    // height: 20rem;
    // width: 20rem;
    margin-top: -30rem;
    // padding: 1rem;
    float: right;
    text-align: left;
    // margin: 0rem;
    padding: 0rem;
    width: 27rem;
}